<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/Gallary_style.css" />
    <title>Animated Gallery</title>
  </head>
  <body>

    <div class="header">
        <nav>
            <div class="logo">
                <img src="../static/img2.png" alt="">
                <span>Moodify</span>
            </div>
            <ul>
                <li><a href="http://127.0.0.1:5000/#">HOME</a></li>
                <li><a href="http://localhost:5000/templates/index">MOVIE - LOBBY</a></li>
                <li><a href="http://localhost:5000/templates/Gallary_page">GALLERY</a></li>
                <li><a href="http://localhost:5000/templates/join_page">ABOUT</a></li>
                <li><a href="http://localhost:5000/templates/Support_page">SUPPORT</a></li>
            </ul>
        </nav>

      <h1>Photo gallery</h1>
    <div class="gallery">
      <img
        src="../static/img-2.jpg"
        class="gallery__photo gallery__photo--p1"
        alt=""
      />
      <img
        src="../static/img-4.jpg"
        class="gallery__photo gallery__photo--p2"
        alt=""
      />
      <img
        src="../static/img-6.jpg"
        class="gallery__photo gallery__photo--p3"
        alt=""
      />
      <img
        src="../static/img-8.jpg"
        class="gallery__photo gallery__photo--p4"
        alt=""
      />
      <img
      src="../static/img-3.jpg"
      class="gallery__photo gallery__photo--p5"
      alt=""
    />
    </div>
</div>
  </body>
</html>
