<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Roll Recommendation System</title>
    <link rel="stylesheet" href="/static/style1.css">
</head>
<body>
    <div class="header">
        <nav>
            <div class="logo">
                <img src="static/img2.png" alt="">
                <span>Moodify</span>
            </div>
            <ul>
                <li><a href="http://127.0.0.1:5000/#">HOME</a></li>
                <li><a href="http://localhost:5000/templates/index">MOVIE - LOBBY</a></li>
                <li><a href="http://localhost:5000/templates/Gallary_page">GALLERY</a></li>
                <li><a href="http://localhost:5000/templates/join_page">ABOUT</a></li>
                <li><a href="http://localhost:5000/templates/Support_page">SUPPORT</a></li>
            </ul>
        </nav>

        <div class="content">
            <h1 class="slide-left">To Embrace your<br>Finifugals....!</h1>
            <div class="links slide-left">
                <a href="http://localhost:5000/camera" class="btn">Get Started</a>
            </div>
        </div>
    </br>
    <div class="output" >
        {% if final_output %}
    <h2 style="font-family:Bio-Rhyme">Your Emotion is {{final_output}}</h2>
        <div class="output1" >
        <a href="http://localhost:5000/movies/{{final_output}}" class="btn">Movies</a>
         <a href="http://localhost:5000/songs/{{final_output}}" class="btn">Songs</a>
            </div>
    {% endif %}
      </div>

    </div>
</body>
</html>