<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>3D Flipping Movies Card</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>

    <nav>
        <div class="logo">
            <img src="../static/img2.png" alt="">
            <span>Moodify</span>
        </div>
        <ul>
            <li><a href="http://127.0.0.1:5000/#">HOME</a></li>
            <li><a href="http://localhost:5000/templates/index">MOVIE - LOBBY</a></li>
            <li><a href="http://localhost:5000/templates/Gallary_page">GALLERY</a></li>
            <li><a href="http://localhost:5000/templates/join_page">ABOUT</a></li>
            <li><a href="http://localhost:5000/templates/Support_page">SUPPORT</a></li>
        </ul>
    </nav>

    <div class="flip-card">
      <div class="flip-card-front">
        <div class="inner">
          <img src="https://i.imgur.com/C9DWUDi.png" class="icon" alt=""/>
          <h3>avengers</h3>
          <p>
            Iron Man is a 2008 superhero film, based on the Marvel Comics superhero of the same name. It is the first film in the Marvel Cinematic Universe, and the first installment of Phase One and the Infinity Saga. The film was released on April 30, 2008 internationally and on May 2, 2008 in the United States.
          </p>
        </div>
      </div>
      <div class="flip-card-back">
        <div class="inner">
          <img src="https://i.imgur.com/aJauAJV.png" class="icon" alt=""/>
          <h3>iron man</h3>
          <p>
            "My armor, it was never a distraction or a hobby, it was a cocoon. And now, I'm a changed man. You can take away my house, all my tricks and toys. But one thing you can't take away... I am Iron Man."<br>―Tony Stark
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-front">
        <div class="inner">
          <img src="https://i.imgur.com/C9DWUDi.png" class="icon" alt=""/>
          <h3>avengers</h3>
          <p>
            The Thor film series is a run of four movies (so far) set in the Marvel Cinematic Universe consisting of Thor, Thor: The Dark World, Thor: Ragnarok and the currently-in-development Thor: Love and Thunder. The series is anchored by Chris Hemsworth as Thor, Tom Hiddleston as Loki and Natalie Portman as Jane Foster.
          </p>
        </div>
      </div>
      <div class="flip-card-back">
        <div class="inner">
          <img src="https://i.imgur.com/ep0HjjD.png" class="icon" alt=""/>
          <h3>thor</h3>
          <p>
            "It's time for me to be who I am, rather than who I'm supposed to be."<br>―Thor to Valkyrie
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-front">
        <div class="inner">
          <img src="https://i.imgur.com/C9DWUDi.png" class="icon" alt=""/>
          <h3>avengers</h3>
          <p>
            The fictional character Spider-Man, a comic book superhero created by Stan Lee and Steve Ditko and featured in Marvel Comics publications, has appeared as a main character in numerous theatrical and made-for-television films.
          </p>
        </div>
      </div>
      <div class="flip-card-back">
        <div class="inner">
          <img src=" https://i.imgur.com/wROMxVv.png" class="icon" alt=""/>
          <h3>spider-man</h3>
          <p>
            "I really did try to help you. I mean, I could've killed you. At any given moment, but I didn't. Because my Aunt May taught me that everyone deserves a second chance."<br>―Spider-Man
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
