<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
	<link rel="stylesheet" href="/static/Join_page.css">
</head>
<body>
  <div class="header">
    <nav>
        <div class="logo">
            <img src="../static/img2.png" alt="">
            <span>Moodify</span>
        </div>
        <ul>
            <li><a href="http://127.0.0.1:5000/#">HOME</a></li>
            <li><a href="http://localhost:5000/templates/index">MOVIE - LOBBY</a></li>
            <li><a href="http://localhost:5000/templates/Gallary_page">GALLERY</a></li>
            <li><a href="http://localhost:5000/templates/join_page">ABOUT</a></li>
            <li><a href="http://localhost:5000/templates/Support_page">SUPPORT</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="../static/img_vk.jpg" alt="">
                </div>
                <div class="contentBx">
                    <h4>Varsha Kumari</h4>
                    <h5>Developer</h5>
                </div>
                <div class="sci">
                    <a href="https://www.linkedin.com/in/varsha-kumari-2b5741202/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/_var._.sha._/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://github.com/evars69"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
    

</body>
</html>